<div class="description_border mt-3 mb-4">
	<div class="text-center description_box mt-3 mb-3">
		<div class="row text-start">
			<h6 class="ps-0">Información del curso</h6>
			<div class="col-5 col-md-4 p-0">
				<p class="fs-6">Código:</p>
			</div>
			<div class="col-11 col-md-12 p-0">
				<p class="fs-6">{{ .Params.id | safeHTML }}</p>
			</div>
		</div>
		<div class="row text-start">
			<div class="col-5 col-md-4 p-0">
				<p class="fs-6">Créditos:</p>
			</div>
			<div class="col-11 col-md-12 p-0">
				<p class="fs-6">{{ .Params.credits | safeHTML }} créditos</p>
			</div>
		</div>
		<div class="row text-start">
			<div class="col-5 col-md-4 p-0">
				<p class="fs-6">Prerrequisitos:</p>
			</div>
			<div class="col-11 col-md-12 p-0">
				<p class="fs-6">
					{{ with .Params.prerequisites }} {{ delimit . " y " | safeHTML }} {{ end }}
				</p>
			</div>
		</div>
		{{- if .Pages -}}
			{{- $profSlugs := slice -}}
			{{- range .Pages -}}
				{{- if .Params.professor -}}
					{{- $profSlugs = $profSlugs | append .Params.professor -}}
				{{- end -}}
			{{- end -}}
			{{- $profSlugs = $profSlugs | uniq -}}
			<div class="row text-start">
				<div class="col-5 col-md-4 p-0">
					<p class="fs-6">Profesores:</p>
				</div>
				<div class="col-11 col-md-12 p-0">
					<p class="fs-6">
						{{- range $i, $slug := $profSlugs -}}
							{{- if $i }} · {{ end -}}
							{{- $prof := site.GetPage (printf "/professors/%s" $slug) -}}
							{{- with $prof -}}
								{{- with .Params.honorific -}}{{ . }} {{ end -}}{{ .Title -}}
							{{- else -}}
								{{ $slug }}
							{{- end -}}
						{{- end -}}
					</p>
				</div>
			</div>
			{{- $syllabi := slice -}}
			{{- range .Pages -}}
				{{- if .Resources.Match "silabo*.pdf" -}}
					{{- $syllabi = $syllabi | append . -}}
				{{- end -}}
			{{- end -}}
			{{- $syllabi = sort $syllabi "Params.semester" "desc" -}}
			{{- if $syllabi -}}
				<div class="row text-start">
					<div class="col-5 col-md-4 p-0">
						<p class="fs-6">Sílabos:</p>
					</div>
					<div class="col-11 col-md-12 p-0">
						<p class="fs-6">
							{{- range $i, $o := $syllabi -}}
								{{- if $i }} · {{ end -}}
								<a href="{{ $o.RelPermalink }}">{{ $o.Params.semester }} →</a>
							{{- end -}}
						</p>
					</div>
				</div>
			{{- end -}}
		{{- end -}}
	</div>
</div>
