{{ $offerings := .Pages }}
{{ if $offerings }}
	<table>
		<tr>
			<th>Nombre</th>
			<th>Semestre</th>
		</tr>
		{{ range $offerings }}
			{{ $slug := .Params.professor }}
			{{ $prof := site.GetPage (printf "/professors/%s" $slug) }}
			<tr>
				<td>
					{{ with $prof }}
						<a href="{{ .RelPermalink }}">{{ .Params.honorific }} {{ .Title }}</a>
					{{ else }}
						{{ $slug }}
					{{ end }}
				</td>
				<td>{{ .Params.semester }}</td>
			</tr>
		{{ end }}
	</table>
{{ else }}
	<p>⚠️ Todavía no tenemos información sobre los profesores que enseñaron este curso.</p>
{{ end }}
