{{- $nodes := .nodes -}}
{{- $level := .level | default 0 -}}
{{- range $nodes -}}
	{{- if eq .kind "link" -}}
		<li>
			<a
				class="docs-link rounded{{ if .current }} active{{ end }}"
				href="{{ .url }}"
				{{ if .current }}aria-current="page"{{ end }}>
				{{ .title }}
			</a>
		</li>
	{{- else -}}
		{{- $collapseID := printf "section-%s" (md5 .url) -}}
		<li class="my-1{{ if gt $level 0 }} ms-3{{ end }}">
			<button
				class="btn btn-toggle align-items-center rounded collapsed"
				data-bs-toggle="collapse"
				data-bs-target="#{{ $collapseID }}"
				aria-expanded="{{ if .active }}true{{ else }}false{{ end }}">
				{{ .title }}
			</button>
			<div class="collapse{{ if .active }} show{{ end }}" id="{{ $collapseID }}">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					{{ partial "sidebar/render-auto-nav-nodes.html" (dict
						"nodes" .children
						"level" (add $level 1)
					)
					}}
				</ul>
			</div>
		</li>
	{{- end -}}
{{- end -}}
