{{- if .Site.Params.options.darkMode -}}
    {{- partial "footer/render-script" (dict "src" "js/color-mode.ts" "load" "none") }}
{{- end -}}
{{- if and (.Site.Params.alert) (.Site.Params.alertDismissable) -}}
    {{- partial "footer/render-script" (dict "src" "js/dismissable-alert.ts" "load" "none") }}
{{- end -}}
{{- if and (partial "components/is-search-enabled.html" .) (ne .Kind "home") -}}
    <script
        src="{{ "js/components/algolia/algoliasearchNetlify.js" | relURL }}"
        type="text/javascript"></script>
{{- end -}}
