{{- $image := "" -}}
{{- if (urls.Parse .Destination).IsAbs -}}
	{{- $image = resources.GetRemote .Destination -}}
{{- else -}}
	{{- $image = .Page.Resources.GetMatch .Destination -}}
{{- end -}}
{{- with $image -}}
	{{- $img := partial "components/image-srcset.html" (dict "image" $image) -}}
	{{- if gt $image.Width site.Params.smallLimit -}}
		<figure class="figure">
			<img
				class="figure-img img-fluid lazyload blur-up"
				data-sizes="auto"
				src="{{ $img.lqip }}"
				data-srcset="{{ $img.srcset }}"
				width="{{ $image.Width }}"
				height="{{ $image.Height }}"
				alt="{{ $.Text }}"
			/>
			<noscript><img
					class="figure-img img-fluid"
					sizes="100vw"
					srcset="{{ $img.srcset }}"
					src="{{ $img.src }}"
					width="{{ $image.Width }}"
					height="{{ $image.Height }}"
					alt="{{ $.Text }}"
				/>
			</noscript>
			{{ with $.Title -}}
				<figcaption class="figure-caption">{{ . | safeHTML }}</figcaption>
			{{- end }}
		</figure>
	{{- else -}}
		<img
			class="img-fluid lazyload blur-up"
			src="{{ $img.lqip }}"
			data-src="{{ $img.src }}"
			width="{{ $image.Width }}"
			height="{{ $image.Height }}"
			alt="{{ $.Text }}"
		/>
	{{- end -}}
{{- else -}}
	{{- erroridf "image-not-found" "Image not found" -}}
{{- end -}}
