{{- $image := .Page.Resources.GetMatch (printf "*%s*" (.Store.Get "src")) -}}
{{- $img := partial "components/image-srcset.html" (dict "image" $image) -}}

<figure{{ with .Store.Get "class" }} class="{{ . }}"{{ end }}>
	<img
		class="img-fluid lazyload blur-up"
		data-sizes="auto"
		src="{{ $img.lqip }}"
		data-srcset="{{ $img.srcset }}"
		width="{{ $image.Width }}"
		height="{{ $image.Height }}"
		{{ with .Store.Get "alt" }}alt="{{ . }}"{{ end }}
	>
	<noscript><img
			class="img-fluid"
			sizes="100vw"
			srcset="{{ $img.srcset }}"
			src="{{ $img.src }}"
			width="{{ $image.Width }}"
			height="{{ $image.Height }}"
			{{ with .Store.Get "alt" }}alt="{{ . }}"{{ end }}
		>
	</noscript>
	{{- with .Store.Get "caption" -}}
		<figcaption class="figure-caption">{{ . | safeHTML }}</figcaption>
	{{- end -}}
</figure>
